.secGap {
  padding: 50px 0;

  @include responsive(phone) {
    padding: 30px 0;
  }
}

.viewBtn {
  background: $secondary-color;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 1.7rem;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 45px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  @include responsive(phone) {
    font-size: 1.3rem;
  }
}

.viewBtn:hover {
  background: #f9a200;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
