@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
// Color Variables
$primary-color: #222e3e;
$secondary-color: #71c00e;

// font variables
$font-stack: "Poppins", sans-serif;
$heading-font: "Amiri", serif;
