#topRibbon,
#middleRibbon,
#timerRibbon {
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

#topRibbon {
  background: lighten($primary-color, 8%);
  color: #fff;
  p {
    font-size: 0.7rem;
    padding: 5px 0;
    @include responsive(phone) {
      font-size: 0.6rem;
    }
  }
}
#middleRibbon {
  background: $secondary-color;
  color: #fff;
  padding: 15px 0;
  @include responsive(phone) {
    padding: 10px 0;
  }
  h1 {
    font-size: 1.6rem;
    @include responsive(phone) {
      font-size: 1.2rem;
    }
  }
}

#timerRibbon {
  background: #e1e1e1;
  padding: 5px 0;
  p {
    font-size: 1.055rem;
    @include responsive(phone) {
      font-size: 0.9rem;
    }
  }
}
